/* Website Template by freewebsitetemplates.com */
@font-face {
	font-family: 'Conv_BreeSerif-Regular';
	src: url('../fonts/BreeSerif/BreeSerif-Regular.eot');
	src: url('../fonts/BreeSerif/BreeSerif-Regular.woff') format('woff'), url('../fonts/BreeSerif/BreeSerif-Regular.ttf') format('truetype'), url('../BreeSerif/fonts/BreeSerif-Regular.svg') format('svg');
}
@font-face {
	font-family: 'Conv_DeliusUnicase-Bold';
	src: url('../fonts/DeliusUnicase/DeliusUnicase-Bold.eot');
	src: url('../fonts/DeliusUnicase/DeliusUnicase-Bold.woff') format('woff'), url('../fonts/DeliusUnicase/DeliusUnicase-Bold.ttf') format('truetype'), url('../fonts/DeliusUnicase/DeliusUnicase-Bold.svg') format('svg');
}
@font-face {
	font-family: 'Conv_Lobster';
	src: url('../fonts/Lobster/Lobster.eot');
	src: url('../fonts/Lobster/Lobster.woff') format('woff'), url('../fonts/Lobster/Lobster.ttf') format('truetype'), url('../fonts/Lobster/Lobster.svg') format('svg');
}

@font-face {
	font-family: 'Rubik_Distressed';
	src: url('../fonts/Rubik_Distressed/RubikDistressed-Regular.ttf');
}

.codebutton {
	background-color: #b83748; /* Green */
	color: white;
	padding: 30px 64px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-color: white;
}

body {
	background: url(../images/bg-body.jpg) repeat 0 0;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

#codebutton {
	position: absolute;
	margin-top: 500px;
}

#divInstructions {
	position: absolute;
	background-color: rgb(206, 134, 86);
	padding: 20px;
	font-family: "Rubik_Distressed";
}